<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/site.css" />
    <script src="js/home.js"></script>
</head>
<body>
    <!-- Video Background -->
    <video autoplay muted loop id="bg_video">
        <source src="/static/images/video_bg.mp4" type="audio/mp4" />
    </video>

    <!-- The rest of the content for the page -->
    <div class="content">
        <div class="header">
            <p>{{title}}</p>
        </div>

        

        <div class="footer">

        </div>
    </div>
</body>
</html>