<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lily's Portfolio</title>
    <link rel="stylesheet" href="/static/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="js/home.js"></script>
</head>
<body>
    <!-- Video Background -->
    <video autoplay muted loop id="bg_video">
        <source src="/static/images/video_bg.mp4" type="audio/mp4" />
    </video>

    <div id="page">

        <!-- Header -->
        <div id="header" class="head_foot">
            <p id="head_info">{{title}}</p>
        </div>

        <!-- The rest of the content for the page -->
        <div id="content">
            <!-- Place holder that leaves space for header -->
            <div id="top_push"></div>

            <h1 id="name_title">Lily Wise</h1>

            <!-- Image and summary of me -->
            <div id="summary">
                <img src="../static/images/profile_pic.jpg" id="profile_pic" />
                <div id="summary_text">
                    <p>Lily is currently an Instructor of Computer Science for Code
                    Wizards HQ and recent graduate of Baylor University. Currently,
                    her interests lie in computer science, machine-learning, and
                    data analytics (big data). For more information follow the links below
                    to see Lily's experience, important links, education, and projects.</p>
                </div>
            </div>

            <!-- Place holder that leaves space for footer -->
            <div id="bottom_push"></div>
        </div>

        <!-- Footer -->
        <div id="footer" class="head_foot">
            <p id="foot_info">&copy; {{year}} Lily Wise</p>
        </div>

    </div>
</body>
</html>