<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/site.css" />
    <script src="js/home.js"></script>
</head>
<body>
    <!-- Video Background -->
    <video autoplay muted loop id="bg_video">
        <source src="/static/images/video_bg.mp4" type="audio/mp4" />
    </video>

    <div id="page">

        <!-- Header -->
        <div id="header" class="head_foot">
            <p>{{title}}</p>
        </div>

        <!-- The rest of the content for the page -->
        <div id="content">

            

            <!-- Place holder that leaves space for footer -->
            <div id="push"></div>
        </div>

        <!-- Footer -->
        <div id="footer" class="head_foot">
            <p>&copy;{{year}} Lily Wise</p>
        </div>

    </div>
</body>
</html>