html, body {
    height: 100%;
    margin: 0px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

#bg_video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
}

#page {
    position: relative;
    min-height: 100%;
}

#content {
    width: 100%;
    margin-top: 20px; /* Same height as header/top_push */
    margin-bottom: -50px; /* Same as height as footer/bottom_push */
}

.head_foot {
    background: rgba(139, 134, 143, 0.90);
    width: 100%;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
}

#top_push {
    height: 20px; /* Same as height as header */
}

#bottom_push {
    height: 50px; /* Same as height as footer */
}

#footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px; /* Same as height as bottom_push */
}

/* Give padding this way to avoid horizontal scroll */
#head_info {
    padding-top: 5px;
    padding-left: 20px;
}

#foot_info {
    padding-top: 20px;
    padding-left: 20px;
}

/* All content style is below */
#summary {
    margin-left: 2%;
    border-style: double;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 1);
    width: 96%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1px;
}

#name_title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}

#profile_pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
}

#summary_text {
    margin-left: 250px; /* Width of profile_pic */
    margin-right: 50px;
    padding: 5px 20px 5px 10px;
    font-size: 40px;
    color: rgba(139, 134, 143, 1);
}